[submodule "godot_common"]
	path = godot_common
	url = ../godot_common.git
	branch = main
[submodule "godot_tilemap"]
	path = godot_tilemap
	url = ../godot_tilemap.git
	branch = main
[submodule "3rdparty/Universal-LPC-Spritesheet-Character-Generator"]
	path = 3rdparty/Universal-LPC-Spritesheet-Character-Generator
	url = ../../csaga77-forks/Universal-LPC-Spritesheet-Character-Generator.git
	branch = master
[submodule "agent_tools"]
	path = agent_tools
	url = ../agent_tools.git
	branch = main
[submodule "addons/mp3_to_ogg"]
	path = addons/mp3_to_ogg
	url = ../../csaga77-godot-addons/mp3_to_ogg.git
[submodule "addons/universal_lpc"]
	path = addons/universal_lpc
	url = ../../csaga77-godot-addons/universal_lpc.git
	branch = main
