[submodule "godot_common"]
	path = godot_common
	url = ../godot_common.git
	branch = main
[submodule "godot_tilemap"]
	path = godot_tilemap
	url = ../godot_tilemap.git
	branch = main
[submodule "3rdparty/Universal-LPC-Spritesheet-Character-Generator"]
	path = 3rdparty/Universal-LPC-Spritesheet-Character-Generator
	url = ../../csaga77-forks/Universal-LPC-Spritesheet-Character-Generator.git
	branch = master
[submodule "codex_agents"]
	path = codex_agents
	url = ../codex_agent.git
	branch = main
